/* Reset Stylesheet 1.6.1 (html5doctor.com/html-5-reset-stylesheet) by Richard Clark (richclarkdesign.com) (cssreset.com) */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img,
ins, kbd, q, samp, small, strong, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section,
summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	box-sizing: border-box;
}

*:disabled {
	cursor: not-allowed !important;
}

body {
	font-family: sans-serif, serif;
	line-height: 1;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

nav	ul {
	list-style: none;
}

h1, h2, h3, h4, h5, h6, p, label, legend, li, pre, input, select, textarea, ul, ol, form, .card > div, .h-captcha {
	margin-bottom: 1.00rem;
}

h1:last-child, h2:last-child, h3:last-child, h4:last-child, h5:last-child, h6:last-child, p:last-child, label:last-child,
legend:last-child, li:last-child, pre:last-child, input:last-child, select:last-child, textarea:last-child, ul:last-child, ol:last-child {
	margin-bottom: 0;
}

a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

a, .link {
	color: darkblue;
	border-color: darkblue;
	border-width: 0;
	border-bottom: 2px;
	border-style: solid;
	text-decoration: none;
	cursor: pointer;
}

a:hover, .link:hover {
	color: blue;
	border-color: blue;
}

abbr[title], dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

button, .button, input[type=submit], nav a {
	padding: 0.50rem 1.00rem;
	background-color: deepskyblue;
	border-width: 0;
	border-bottom: 0.25rem;
	border-style: solid;
	border-color: cyan;
	border-bottom-color: cyan;
	border-radius: 0.50rem;
	color: white;
	font-size: 1.20rem;
	font-weight: bold;
}

input[type=submit], button[type=submit] {
	display: inline-block;
	margin-bottom: 0;
}

button:hover, .button:hover, input[type=submit]:hover, nav a:hover {
	background-color: dodgerblue;
	border-color: deepskyblue;
	color: white;
}

button:active, .button:active, input[type=submit]:active, nav a:active {
	background-color: blue;
	border-color: dodgerblue;
	color: white;
}

button, .button, input[type=submit], label {
	cursor: pointer;
}

del, s {
	text-decoration: line-through;
}

input, select, textarea {
	display: block;
	padding: 0.50rem;
	max-width: 100%;
	border-width: 1px;
	border-style: solid;
	border-color: silver;
	border-radius: 0.50rem;
	box-sizing: border-box;
	font-family: sans-serif;
	font-size: 1.00rem;
}

input, select {
	vertical-align: middle;
}

input[type=checkbox], input[type=radio] {
	display: inline-block;
	vertical-align: baseline;
}

ins {
	background-color: lemonchiffon;
	color: black;
	text-decoration: none;
}

label, legend {
	display: block;
	font-weight: bold;
}

label {
	margin-right: 1.00rem;
}

label:last-child {
	margin-right: 0;
}

label + input, label + select, label + textarea {
	margin-top: -0.50rem;
}

label input[type=radio] {
	margin: 0 auto;
}

mark {
	background-color: lemonchiffon;
	color: black;
	font-style: italic;
	font-weight: bold;
}

pre code {
	display: block;
	padding: 1.00rem;
	font-size: 0.85rem;
	background-color: gainsboro;
	border-radius: 0.50rem;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

ul, ol {
	padding-left: 1.50rem;
}

main {
	display: flex;
	width: 80%;
	margin: 5.00rem auto;
	background-color: whitesmoke;
	border-radius: 0.50rem;
}

main > aside {
	width: 25.00%;
	margin: 1.00rem;
	margin-right: 0;
}

main > section {
	margin: 1rem;
	width: 75.00%;
}

h1 {
	font-size: 2.00rem;
}

h2 {
	font-size: 1.75rem;
}

h3 {
	font-size: 1.50rem;
}

h4 {
	font-size: 1.20rem;
}

h5 {
	font-size: 1.10rem;
}

hr {
	border-width: 0px;
	border-bottom: 1px;
	border-style: solid;
	border-color: silver;
}

p {
	line-height: 1.5;
}

.card {
	display: inline-block;
	width: calc(50.00% - 1.00rem);
	margin-right: 1.00%;
	margin-bottom: 1.00rem;
	padding: 1.00rem;
	background-color: white;
	border-radius: 0.50rem;
}

.card.full {
	width: 100%;
}

.card:not('.full'):nth-child(even) {
	margin-right: 0;
	margin-left: 1.00%;
}

.card input[type=password] {
	width: 100%;
}

.alert {
	width: 100%;
	margin-bottom: 1.00rem;
	padding: 1.00rem;
	border-radius: 0.50rem;
}

.error {
	background-color: salmon;
}

.message {
	background-color: powderblue;
}

.success {
	background-color: palegreen;
}

.warning {
	background-color: orange;
}

.numpad {
	display: inline-block;
	margin-bottom: 1.00rem;
	text-align: center;
}

.numpad button {
	margin-right: 1.00rem;
	margin-bottom: 1.00rem;
	background: linear-gradient(45deg, tan, silver);
	border-width: 0.20rem;
	border-style: outset;
	border-color: gainsboro;
	border-radius: 0.25rem;
	color: black;
	font-size: 0.80rem;
}

.numpad button:active {
	border-style: inset;
}

.numpad button:last-child {
	margin-bottom: 0;
}

.privacy.on {
	filter: blur(1rem);
}

.radio {
	display: inline-block;
}

.addRecord {
	margin-bottom: 1.00rem;
	background-color: plum;
	border-color: thistle;
}

.addRecord:hover {
	background-color: blueviolet;
	border-color: plum;
}

.addRecord:active {
	background-color: indigo;
	border-color: blueviolet;
}

.recordField {
	display: inline-block;
	margin-bottom: 1.00rem;
	width: calc(33.00% - 0.50rem);
	padding: 0.50rem;
}

.recordField input[type=text], .recordField input[type=password], .recordField textarea {
	width: 100.00%;
}

#deleteRecord {
	margin-bottom: 1.00rem;
	background-color: deeppink;
	border-color: hotpink;
}

#deleteRecord:hover {
	background-color: mediumvioletred;
	border-color: deeppink;
}

#deleteRecord:active {
	background-color: darkmagenta;
	border-color: mediumvioletred;
}

.branding {
	display: block;
	margin-right: -0.50rem;
	margin-bottom: 1.00rem;
	font-size: 2.50rem;
	font-family: monospace;
	font-variant: small-caps;
	font-weight: bold;
	letter-spacing: 1.00rem;
	text-align: center;
	text-transform: lowercase;
}

nav ul {
	padding: 0;
}

nav a {
	display: block;
	border-radius: 0.50rem;
	text-align: center;
}

.loading:before {
	content: '';
	position: relative;
	top: 0.50rem;
	left: 0.50rem;
	display: inline-block;
	width: 1.50rem;
	height: 1.50rem;
	background: linear-gradient(90deg, deepskyblue, dodgerblue);
	border-radius: 1.50rem;
	box-shadow: 0 0 0.25rem cyan;
	cursor: wait;
	animation: ajaxgif 1s linear infinite;
}

@keyframes ajaxgif {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

@media all and (max-width: 1440px) {
	main {
		margin: 2.50rem auto;
		width: 88.00%;
	}
}

@media all and (max-width: 1280px) {
	.branding {
		letter-spacing: 0.80rem;
	}

	.recordField {
		width: calc(50.00% - 0.50rem);
	}
}

@media all and (max-width: 1152px) {
	main {
		width: 98.00%;
	}

	.card, .recordField {
		width: 100.00%;
	}
}

@media all and (max-width: 1024px) {
	main {
		display: block;
	}

	main > aside, main > section {
		margin: 0;
		padding: 1.00rem;
		width: 100%;
	}
}