<div id="login-account">
	<div class="mb-4 text-2xl font-semibold dark:text-white">
		Login to Your Account
	</div>
	<div class="flex">
		<div class="flex flex-col w-1/2 lg:w-full relative mr-4">
			<span class="absolute inset-y-0 left-0 flex items-center px-3">
				<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207" />
				</svg>
			</span>
			<input id="username-login" type="text" class="
				w-full
				py-2
				pl-12
				pr-4
				text-gray-700
				border
				border-gray-300
				rounded-sm
				dark:bg-gray-800
				dark:text-gray-300
				dark:border-gray-600
				focus:border-blue-500
				dark:focus:border-blue-500
				focus:outline-none focus:ring
			" placeholder="Username" />
		</div>
		<div class="flex flex-col w-1/2 lg:w-full relative">
			<span class="absolute inset-y-0 left-0 flex items-center px-3">
				<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z" />
				</svg>
			</span>
			<input id="username-password" type="text" class="
				w-full
				py-2
				pl-12
				pr-4
				text-gray-700
				border
				border-gray-300
				rounded-sm
				dark:bg-gray-800
				dark:text-gray-300
				dark:border-gray-600
				focus:border-blue-500
				dark:focus:border-blue-500
				focus:outline-none focus:ring
			" placeholder="Password" />
		</div>
	</div>
	<hr class="mt-8 mb-4 dark:border-gray-600" />
	<div class="my-4 text-2xl font-semibold dark:text-white">
		Getting Started
	</div>
	<p class="mb-4">
		First time using MagePass? MagePass can manage your passwords <i>locally</i><!-- or <i>remotely</i>-->. For
		more information and an in-depth guide, visit
		<a href="https://www.pxoink.net" target="_blank" rel="noopener" class="text-blue-600 hover:text-blue-800">the official documentation</a>.
	</p>
	<div class="my-4 text-xl font-semibold dark:text-white">
		Local Storage
	</div>
	<p class="mb-4">
		If you want to store your passwords locally using the default configuration, simply click
		<i>Create New Account</i> in the menu.
	</p>
	<p class="mb-4">
		Please note that if you store your passwords locally, you won't be able to access them cross-platform
		unless you setup a remote solution.
	</p>
	<!--
	<div class="my-4 text-xl font-semibold dark:text-white">
		Remote Storage
	</div>
	<p class="mb-4">
		Remote storage can be accomplished one of two ways, with the official remote storage service MageTomb,
		or you can sync your local store with a third-party application.
	</p>
	<p class="mb-4">
		If you've setup MageTomb, or you've purchased a service that provides MageTomb, you can configure your
		application settings to use MageTomb instead of local storage. Click <i>Settings</i> and configure
		your endpoint before creating or logging into your account.
	</p>
	<p class="mb-4">
		Do you have your own solution for remote storage, such as automatic syncing software? You can store
		your passwords locally but select a destination to sync with. Click <i>Settings</i> in the menu to
		configure your storage location. Please note that spinning up your own solution is not recommended.
	</p>
	<p class="mb-4">
		Looking for remote storage services? Contact
		<a href="https://www.pxoink.net" target="_blank">PxO Ink LLC</a> to setup your r
	</p>
	-->
</div>
<div id="create-password" class="hidden">
	<div class="mb-4 text-2xl font-semibold dark:text-white">
		Create a New Password
	</div>
</div>
</div>